<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://newcss.net/theme/night.css">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
<h2>Search ZIP Code</h2>

<form method="get" action="/">
    <p>
        <label>City Name</label>
        <br>
        <input type="text" name="city">
    </p>
    <p>
        <input type="submit" value="search">
    </p>
</form>
<ul>
    <% if (data['theater']) { %>
        <li>id: <%= data['theater']['id'] %></li>
        <li>name: <%= data['theater']['name'] %></li>
        <li>address: <%= data['theater']['address'] %></li>
        <li>city: <%= data['theater']['city'] %></li>
        <li>zip: <%= data['theater']['zip'] %></li>
        <li>phone: <%= data['theater']['phone'] %></li>
        <li>url: <%= data['theater']['url'] %></li>
        <li>location: (<%= data['theater']['location']['longitude'] %>, <%= data['theater']['location']['latitude'] %>)</li>
    <% } %>
</ul>
</body>
</html>